langchain
langchain-core
langchain-unstructured
langchain_milvus
langchain-huggingface
langchain-ollama
pydantic-settings
sentence-transformers
unstructured[pdf]
langgraph>=0.6.7
langchain-openai
openai>=1.40.0